.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-column {
  display: flex;
  flex-direction: "column";
}

.pointer {
  cursor: pointer;
}

.space-between {
  display: "flex";
  align-items: "center";
  justify-content: "space-between";
}

.absolute-center {
  position: "absolute";
  left: "50%";
  top: "50%";
  transform: "translate(-50%, -50%)";
}
